# Vim swap files
*.swp
*.swo

# Image files that I might be testing with
*.dsk
*.nib
*.asm
*.callmap
*.disklog
*.physical

# erc binary
/erc

# IDE / OS stuff
.idea
.vscode
.DS_Store

# Notes that I keep
.notes
